body{
    background-color: var(--bs-blue) !important;
}

.card{
    width: 100%;
    height: fit-content;
    margin-top: 150px;
    background-color: var(--bs-white);
}

.password__copy{
    width: 80%;
}

.password__len{
    width: 500px;
}

.password__len__text{
    width: 300px;
}
.password__range{
    width: 500px;
}