body{
    background-color: var(--bs-blue) !important;
}

.card{
    width: 100%;
    height: fit-content;
    margin-top: 150px;
    background-color: var(--bs-white);
}

.password__copy{
    width: 80%;
}

.password__len{
    width: 90%;
}

.password__len__text{
    width: 60%;
}
.password__range{
    width: 90%;
}
.password__properties{
    width: 90%
}
.password__properties__item{
    width: 226px;
}